.form-wrap{
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.form1-container{
    margin-top: 5rem;
}
.form-wrap h1, .form-wrap label, .form-wrap button, .form-wrap input, .form-wrap textarea{
    font-family: var(--t-font);
    color: rgb(var(--l-color));
}
.form-wrap h1{
    font-size: 5ch;
    margin: 2rem;
}
.form-wrap button, .form-wrap input, .form-wrap label, .form-wrap textarea{
    margin-left: 10rem;
}
.form-wrap button{
    width: 25rem;
    height: 3rem;
    color: rgb(var(--d-color));
    font-weight: 800;
    font-size: 2ch;
    margin-bottom: 2rem;
}
.form-wrap button:hover{
    background-color: rgb(var(--a-color));
    color: rgb(var(--d-color));
}
.form-wrap label{
    font-size: 2.3ch;    
}
.form-wrap input{
    width: 25rem;
    height: 2.5rem;
    background-color: transparent;
    border: 2px solid rgb(var(--l-color));
    margin-bottom: 1rem;
    font-size: 2ch;
    font-weight: 600;
    padding-left: 1rem;
}
.form-wrap textarea{
    width: 25rem;
    background-color: transparent;
    border: 2px solid rgb(var(--l-color));
    margin-bottom: 1rem;
    font-weight: 600;
    padding: .5rem 1rem;
    font-size: 2ch;
}
.form-wrap .upoad-btn{
    width: 25rem;
    height: 2.5rem;
    border: 2px solid rgb(var(--a-color));
    color: rgb(var(--l-color));
}
.form-wrap button[type=submit]{
    background-color: transparent;
    color: rgb(var(--l-color));
    border: 2px solid rgb(var(--a-color));
    position: relative;
    margin-top: 2rem;
    cursor: pointer;
}
.form-wrap button[type=submit]::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border: 2px solid rgb(var(--l-color));
    left: -.5rem;
    top: -.5rem;
    z-index: -1;
}
.form-wrap button[type=submit]:hover{
    background-color: rgb(var(--a-color));
    color: rgb(var(--d-color));
}
.form-wrap button[type=submit]:hover::after{
    background-color: rgb(var(--l-color));
}

.form2-container label, .form2-container input, .form2-container textarea, .form2-container button{
    margin-left: 5rem;
}

@media (max-width: 425px) {
    .form-wrap h1{
        font-size: 3ch;
    }
    .form-wrap button, .form-wrap input, .form-wrap label, .form-wrap textarea{
        margin-left: 1rem;
    }
    .form-wrap button, .form-wrap input, .form-wrap textarea{
        margin-right: 1rem;
    }
}