.nav-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-btn-container, .logo, .search-icon-container{
    margin-top: 4rem;
}
.menu-btn-container{
    margin-left: 7rem;
    width: 46px;
    height: 28px;
    cursor: pointer;
}
.search-icon-container{
    margin-right: 7rem;
    width: 38px;
    height: 37px;
}
.logo{
    font-family: var(--t-font);
    color: rgb(var(--a-color));
    font-size: 8ch;
    font-weight: 600;
}
.logo span{
    background-color: rgb(var(--a-color));
    color: rgb(var(--d-color));
}

@media (max-width: 1024px) {
    .menu-btn-container{
        margin-left: 5rem;
    }
    .search-icon-container{
        margin-right: 5rem;
    }
    .logo{
        font-size: 6ch;
    }
}
@media (max-width: 768px) {
    .menu-btn-container{
        margin-left: 3rem;
        width: 34.5px;
        height: 21px;
    }
    .search-icon-container{
        margin-right: 3rem;
        width: 30px;
        height: 31px;
    }
    .logo{
        font-size: 4ch;
    }
}
@media (max-width: 425px) {
    .menu-btn-container, .search-icon-container, .logo{
        margin-top: 2rem;
    }
    .menu-btn-container{
        margin-left: 1rem;
        width: 30px;
        height: 20px;
    }
    .search-icon-container{
        margin-right: 1rem;
        width: 28px;
        height: 29px;
    }
    .logo{
        font-size: 3ch;
    }
}


.menu-slider-wrap{
    position: absolute;
    top: -25rem;
    z-index: 10;
    width: 100vw;
    height: 25rem;
    background-color: rgb(var(--a-color));
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: top .5s ease-in-out;
}
.open{
    top: 0;
}
.close-icon{
    position: absolute;
    top: -1rem;
    left: 3rem;
    width: 40px;
    height: 40px;
}
.menu-slider-wrap div{
    color: rgb(var(--d-color));
    font-size: 6ch;
    font-family: var(--t-font);
    font-weight: 600;
    margin-top: 4rem;
    margin-bottom: 4rem;
    cursor: pointer;
}
.menu-slider-wrap div:nth-of-type(2){
    margin-left: 5rem;
}
.menu-slider-wrap div:last-of-type{
    background-image: url(../../asset/Images/image\ 1.png);
    height: 100%;
    background-size: cover;
    width: 40vw;
    color: rgb(var(--a-color));
    cursor:auto;
}

.menu-slider-wrap div:nth-of-type(2):hover, .menu-slider-wrap div:nth-of-type(3):hover, .menu-slider-wrap div:nth-of-type(4):hover{
    background-color: rgb(var(--d-color));
    color: rgb(var(--a-color));
    transition: .5s ease;
}

@media (max-width: 1440px) {
    .menu-slider-wrap div:nth-of-type(2){
        margin-left: 3rem;
    }
    .menu-slider-wrap div:last-of-type{
        width: 35vw;
    }
}
@media (max-width: 1220px) {
    .menu-slider-wrap{
        height: 20rem;
    }
    .menu-slider-wrap div{
        font-size: 5ch;
    }
    .menu-slider-wrap div:first-of-type{
        width: 30px;
        height: 30px;
    }
    .menu-slider-wrap div:nth-of-type(2){
        margin-left: 3rem;
    }
    .menu-slider-wrap div:last-of-type{
        width: 35vw;
    }
}
@media (max-width: 1024px) {
    .menu-slider-wrap div{
        font-size: 4.5ch;
    }
    .menu-slider-wrap div:first-of-type{
        width: 25px;
        height: 25px;
        left: 2rem;
    }
    .menu-slider-wrap div:nth-of-type(2){
        margin-left: 2rem;
    }
}
@media (max-width: 768px) {
    .menu-slider-wrap{
        height: 100vh;
        flex-direction: column;
        top: -100vh;
    }
    .open{
        top: 0vh;
    }
    .menu-slider-wrap div{
        font-size: 6ch;
        margin: 2rem 0rem;
    }
    .menu-slider-wrap div:first-of-type{
        width: 30px;
        height: 30px;
    }
    .menu-slider-wrap div:nth-of-type(2){
        margin-left: 0rem;
        margin-top: 5rem;
    }
    .menu-slider-wrap div:last-of-type{
        width: 100vw;
        margin: 1rem 0rem 0rem 0rem;
    }
}
@media (max-width: 425px) {
    .menu-slider-wrap div{
        font-size: 5ch;
    }
}
