@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap');


:root{
  --t-font: 'Space Mono', monospace;
  --b-font: 'Roboto Mono', monospace;
  --l-color: 241, 241, 241;
  --d-color: 3, 3, 3;
  --a-color: 78, 214, 12;
}

*, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: rgb(var(--d-color));
}